:root{
    --black : #000000;
    --white : #ffffff;
    --light-splitter-color : #c9c9c9;
    --dark-gray : #3e3e42;
    --light-gray : #f2f2f2; 
}
.outer-div{
    position: fixed;
    top: 20px;
    right: 5px;
    z-index: 9999;
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}
.dark.outer-div{
    background-color: var(--light-gray);
    color: var(--dark-gray);
}
.light.outer-div{
    color:var(--light-gray);
    background-color: var(--dark-gray);
}
#light .dark-mode-icon{
    fill: var(--light-gray);
    color: var(--light-gray)
}