.root {
  background-color: #5b5b5b;
  background-color: #403d39;
  background-color: rgb(51, 54, 56);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23fdfaff' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: whitesmoke;
  text-align: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 3rem;
  margin-left: 1rem;
}

.pane-color {
  background-color: #1e1e1e;
  color: #eee9e4;
}

.monaco-remote-cursor {
  font-size: 12px;
}

.middle-pane-content {
  display: flex;
  height: inherit;
}

.chat-app {
  background-color: #232741;
  background-color: #1e1e1e;
  color: white;
}

.splitter {
  /* background-color: transparent !important; */
  background-color: transparent !important;
  border: 0px !important;
  transition: background-color 0.2s !important;
  margin: 0 !important;
  opacity: 1 !important;
}
.splitter:hover {
  background-color: #6d7b80 !important;
  opacity: 1 !important;
}

.splitter-verticle {
  width: 12px !important;
}
.splitter-horizontal {
  height: 12px !important;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #2d2d30;
  opacity: 0.7;
  color: whitesmoke;
  padding: 0.1rem 0rem;
  overflow: hidden !important;
}

.footer a {
  color: whitesmoke;
  opacity: 0.8;
}
.footer span {
  padding: 0px 2px;
  color: red;
}
