.tabs_root {
  height: 100%;
  background-color: initial;
  display: flex;
  flex-direction: column;
}

.react-tabs__tab--selected {
  background-color: #3e3e42;
  border-color: #252526;
  color: white;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #252526;
}
